<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-4" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dog House</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'MisPerros/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        {% if request.user.is_authenticated %}
            <nav class="navbar navbar-light bg-light static-top">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
                    <a class="navbar-brand" href="{% url 'perro' %}">Perros</a>
                    <a class="navbar-brand" href="{% url 'socio' %}">Socios</a>
                    <a class="navbar-brand" href="{% url 'hogartemporal' %}">Hogares temporales</a>
                    <a class="navbar-brand" href="{% url 'Logout' %}">Cerrar sesión</a>
                    <a class="btn btn-primary" href="{% url 'EditarPerfil' %}">Editar perfil</a>
                </div>
            </nav>
        {% endif %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5"> Dog House </h1>
                            {% if request.user.is_authenticated %}
                                <div class="text-center">
                                    <h2 class="mb-3"> Usuario: {{user.username}} </h2>
                                    <img src="{{user.imagen.url}}" width="100%">
                                </div>
                                

                            {% endif %}
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Esto es lo que va a cambiar-->
        {% block contenidoQueCambia %}

        {% endblock %}

        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
    <footer><center>
        <p>---------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <p><b>  Sobre nosotros:</b>
        ¡Hola! Un gusto, somos "Dog House", un lugar en el cual intentaremos ayudar a nuestros amigos caninos, proporcionandoles hogares, ya sea temporales o definitivos, esto es el recien el comienzo.
        En nuestra web tendran la posibilidad de cargar todos los datos y fotos sobre perros sin hogar, para que asi los usuarios puedan interactuar y ayudar.</p>
        <p>---------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <p>En principio son dos los integrantes desarrolladores de esta web:</p>
        <p><b>Jonatan Bonetti:</b> Creador y administrador de la pagina web en su totalidad.</p>
        <p><b>Bety:</b> Perra, ya con varios años, inspiracion del proyecto y modelo principal en nuestras pruebas.</p>
        </p>
        <p>---------------------------------------------------------------------------------------------------------------------------------------------------</p>
    </center></footer>
</html>
