<!DOCTYPE html>

<html>

<head>

    <title>Lista</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="container text-center pt-5">
        <h1>Dog House</h1>
        <p>Un lugar para ellos</p>
        <div class='jumbotron'>
            <center>
        <div class="text-left" style="max-width:500px">
        <center><h1> Socios </h1>
            <center><ul>
                {% for socio in object_list %}
                    <li>
                        <p>Nombre: "{{socio.nombre}}":
                            <a href="{% url 'Detailsocio' socio.id %}"> Ver </a>
                            <a href="{% url 'Editsocio' socio.id %}"> Editar </a>
                            <a href="{% url 'Deletesocio' socio.id %}"> Borrar </a>
                        </p>
                    </li>
        
                {% endfor %}
            </ul>
            <a class="btn" href="http://127.0.0.1:8000/inicio" > Inicio </a>
</body>
</html>